/* topmost */
.topmost {
  height: 80px;
}
.topmost-logo p {
  font-size: 36px;
  font-family: "Yeseva One", cursive;
}
.topmost-info__item img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.topmost-info__item p:first-child {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
}
/* navbar */

.navbar {
  height: 80px;
}
.navbar-list__item {
  font-size: 18px;
  cursor: pointer;
}
.navbar-list__item:hover {
  color: var(--accent-color);
}
.group_btn {
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
}
.navbar-group {
  align-items: center;
}
.navbar-group img {
  width: 30px;
  height: 30px;
}

/* banner */
.banner {
  background: url(../img/Banner.jpg) no-repeat center;
  width: 100%;
  height: 550px;
}
.banner-btn {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.banner {
  /* align-items: center; */
  flex-direction: column;
}
.banner-info__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner-info__text {
  font-size: 48px;
  margin: 30px 0;
  width: 45%;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* sub banner */
.sub_banner {
  transform: translateY(-50%);
}
.sub_banner__item {
  height: 75px;
  width: 318px;
  padding: 25px 20px;
  border-radius: var(--radius);
}

/* title_G */

.title-G {
  text-align: center;
  align-items: center;
}
.title-second p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
}
.title-primary p {
  font-size: 32px;
  margin: 12px 0;
}

/* body-welcome  */
.body-special,
.body-service,
.body-welcome {
  text-align: center;
  flex-direction: column;
}
.body-welcome__desc {
  margin-top: 10px;
  width: 59%;
  font-weight: 400;
  align-items: center;
  line-height: 1.5;
}
.body-welcome__btn {
  margin-top: 30px;
}
.body-welcome__btn > img {
  height: 14px;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(100%);
  }
}
.move {
  animation: move 0.8s linear infinite;
}

.body-welcome > img {
  margin: 50px;
}

/* body service */
.body-service__content {
  overflow: hidden;
  width: 100%;
  height: 484px;
  margin: 50px 0;
}
.body-service__content-right {
  width: 157px;
  border-radius: var(--radius);
  border: 1px solid #ccc;
  overflow: hidden;
  cursor: pointer;
}
.body-service__content-left {
  flex: 1;
}

.card {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.content-right__item {
  height: 110px;
  width: 100%;
}
.content-right__item-btn {
  bottom: 0;
  height: 42px;
}
.content-left__text {
  flex: 1;
  padding-top: 30px;
  text-align: left;
}
.content-left__img {
  height: 100%;
  flex-direction: column;
}
.content-left__img img {
  width: 324px;
  height: 232px;
  -o-object-fit: cover;
  object-fit: cover;
}
.content-left__text-title {
  font-size: 26px;
  margin-bottom: 30px;
}
.content-left__text-item p {
  font-size: 18px;
}
.point {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: var(--second-color);
}
.content-left__text-list {
  flex-wrap: wrap;
}
.content-left__text-item {
  width: 48%;
}
.content-left__text-desc {
  margin-top: 40px;
  line-height: 1.5;
}

/* body special */

.body-special__title {
  margin: 50px;
}
.body-special-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
}
.body-special__item {
  border: 1px solid rgba(217, 217, 217, 0.8);
  height: 172px;
}
.body-special__item:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border-radius: var(--radius);
}

/* book */
.book {
  margin: 70px 0;
  background: url(../img/Rectangle\ 33.png) no-repeat center;
  height: 572px;
  background-size: cover;
  position: relative;
}
.book__sub__white {
  position: absolute;
  inset: 0;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
}
.book__sub {
  flex-direction: column;
  position: absolute;
  inset: 0;
  z-index: 9;
}
.sub-content__desc-title {
  font-size: 32px;
  margin: 10px 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.sub-content__desc {
  line-height: 1.5;
  margin-right: 30px;
  width: 50%;
}

/* list from inputttttt */
.sub-content__input {
  width: 49%;
  line-height: 1.5;
  height: 445px;
  flex-wrap: wrap;
  border-radius: var(--radius);
  overflow: hidden;
}
.sub-content__input-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sub-content__input textarea:focus,
.sub-content__input input:focus,
.sub-content__input textarea,
.sub-content__input select,
.sub-content__input input {
  background-color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--accent-color);
  caret-color: var(--accent-color);
  color: var(--accent-color);
  outline: none;
  font-family: "Poppins";
}

.sub-content__input textarea::-webkit-input-placeholder,
.sub-content__input input::-webkit-input-placeholder {
  color: var(--accent-color);
}

.sub-content__input textarea::-moz-placeholder,
.sub-content__input input::-moz-placeholder {
  color: var(--accent-color);
}

.sub-content__input textarea:-ms-input-placeholder,
.sub-content__input input:-ms-input-placeholder {
  color: var(--accent-color);
}

.sub-content__input textarea::-ms-input-placeholder,
.sub-content__input input::-ms-input-placeholder {
  color: var(--accent-color);
}

.sub-content__input textarea::placeholder,
.sub-content__input input::placeholder {
  color: var(--accent-color);
}

.sub-content__input-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.sub-content__input textarea {
  width: calc(100% - 22px);
}
input::-webkit-calendar-picker-indicator {
  background-image: url(../icon/Down.png);
  right: 10px;
}
.sub-content__input input::-webkit-datetime-edit {
  color: var(--accent-color);
  font-family: "Poppins";
}
.sub-content__input-btn {
  height: 50px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
select {
  background-color: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../icon/Down.png) no-repeat;
  background-position: right 10px bottom 15px;
  background-size: 14px 9px;
}

/* body doctor  */
.body-doctor {
  margin: 50px 0;
}
.body-doctor__list {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  height: 538px;
  width: 100%;
}
.body-doctor__item {
  border-radius: var(--radius);
  overflow: hidden;
  flex-direction: column;
}
.body-doctor__item-img {
  height: 100%;
  width: 100%;
  max-height: 350px;
}
.body-doctor__item-img img {
  width: 100%;
  height: 100%;
}
.body-doctor__title {
  margin-bottom: 50px;
}
.doctor__item-social img {
  width: 24px;
  height: 24px;
}
.body-doctor__item-info {
  flex-direction: column;
  padding: 25px 0;
}
.doctor__item-profession {
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0;
}
.body-doctor__item-btn {
  flex: 1;
  cursor: pointer;
}
.dots {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.dot {
  height: 18px;
  width: 18px;
  background-color: var(--accent-color);
  border-radius: 50%;
}
.dot-active {
  background-color: var(--primary-color) !important;
}

/* body news */
.body-news__title {
  margin: 100px 0 50px 0;
}
.body-news__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 50px 0 30px 0;
}
.body-news__item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.body-news__item-img {
  width: 160px;
  height: 154px;
  overflow: hidden;
}
.body-news__item-img img {
  width: 100%;
  height: 100%;
}
.news__item-content {
  padding: 20px;
  flex: 1;
  cursor: pointer;
}
.news__item-content-day {
  font-size: 14px;
  line-height: 1.4;
}
.news__item-content-title {
  line-height: 1.4;
  font-size: 18px;
  max-width: 90%;
}
.news__item-icon {
  margin-top: 30px;
}
.body-contact__title,
.dot-news {
  margin-bottom: 50px;
}

/* body contact */
.body-contact__title {
  margin-top: 100px;
}
.body-contact__list {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.body-contact__item {
  border-radius: var(--radius);
  padding: 52px 26px;
}

.contact__item-name {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 2;
}
.contact__item-desc {
  line-height: 1.5;
}
.body-welcome__btn p {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

/* footer */
.footer {
  height: 427px;
  width: 100%;
}
.footer li {
  cursor: pointer;
}
